{% extends 'admin/base.html.twig' %}

{% block title %}Administration - Editions LC{% endblock %}

{% block body %}
    {% if salons != null %}
        <center>
            <p style="font-weight:bold; width: 59.5%; background-color:whitesmoke; border-radius: 5px;" class="table">Salons</p>
            {% if error == -1 %}
                <p style="width: 59.5%;" class="alert alert-success">Salon supprimé avec succès!</p>
            {% endif %}
            <table style="width: 59.5%; background-color:whitesmoke; border-radius: 5px;" class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Lieu</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody> 
                    {% for unSalon in salons %}
                        <tr>
                            <td>{{ unSalon.nom }}</td>
                            <td>{{ unSalon.date.format("d/m/Y") }}</td>
                            <td>{{ unSalon.ville }}</td>
                            <td><a href="admin-get-id-salon/{{ unSalon.id }}" class="btn btn-danger">Voir participants</a></td>
                            <form action="/admin-modification-salon/{{ unSalon.id }}" Method="post">
                                <td><button class="btn btn-danger">Modifier</button></td>
                            </form>
                            <form action="/admin-suppression-salon/{{ unSalon.id }}/0" Method="post">
                                <td><button class="btn btn-danger">Supprimer</button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>
            <br/>
            <br/>
        </center>
    {% endif %}
{% endblock %}
