{% extends 'admin/base.html.twig' %}

{% block title %}Administration - Editions LC{% endblock %}

{% block body %}
    <center>
        {% if error == -1 %}
            <p style="width: 30%;" class="alert alert-success">Vente modifiée avec succès!</p>
        {% endif %}
        <div style="width: 30%; border: 1px solid black; background-color: #efefef">
            <h3 style="font-weight:bold;text-decoration:underline;">Modifier une vente</h3>
            <br/>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_label(form.livre) }}
            {{ form_widget(form.livre) }}<br/>
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix) }}<br/>
            {{ form_label(form.nbVentes) }}
            {{ form_widget(form.nbVentes) }}<br/>
            {{ form_widget(form.date.day, {'attr': { 'style': 'display:none' }}) }}
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}<br/>
            {{ form_label(form.source) }}
            {{ form_widget(form.source) }}<br/>
            <div class="row">
                <div>
                    {{ form_widget(form.annuler) }}
                    <a style="margin-left:50px">{{ form_widget(form.valider) }}</a>
                    {{ form_end(form) }}
                </div>
            </div>
            <br/>
        </div>
    </center>
{% endblock %}
